:root {
    --color_primary: #C6C6C6;
    --color_secondary: #808080;
    --color_accent: #f0040c;
    --standard_border_width: 5px;
    --cell_border_color: white #808080 #808080 white;
}

body {
    background-color: var(--color_primary);
    min-height: 100vh;
}

h1, p{
    font-family: 'Press Start 2P', cursive;
}

p{
    font-size: .7rem;
}

.form-select {
    width: 150px;
    border-radius: 0;
    border-width: 4px;
    border-style: solid;
    border-color: var(--cell_border_color);
    background-color: var(--color_primary);
}

.form-select:focus{
    border-color: var(--color_secondary);
    outline: 0;
    box-shadow: 0 0 0 .25rem transparent;
}

.btn_retro {
    --bs-btn-color: #212529;
    --bs-btn-bg: var(--color_primary);
    --bs-btn-border-width: 4px;
    --bs-btn-active-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: var(--cell_border_color);
    --bs-btn-box-shadow: 0;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0;
    border-color: var(--cell_border_color);
}

.grid_container{
    display: flex;
    flex-wrap: wrap;
    border-width: 6px;
    border-style: solid;
    border-color: var(--color_secondary) white white var(--color_secondary);
}

.grid_cell{
    border-width: var(--standard_border_width);
    border-color: var(--cell_border_color);
    border-style: solid;
    aspect-ratio: 1;
}

.click_win{
    border: 1px solid var(--color_secondary);
}

.click_lose{
    border: 1px solid var(--color_accent);
    background-color: var(--color_accent);
    background-image: url(../img/bomb.png);
    background-size: cover;
}

.disabled{
    pointer-events: none;
    opacity: .7;
}

.grid_cell:hover{
    cursor: pointer;
}